body {
    margin: 0;
    padding: 0;
    background-color: #B2D7D0;
}

header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Lexend";
}

img {
    display: block;
    width: 50%;
    margin: auto;
    border: 2px solid #E5E5E5;
    border-radius: 3rem;
}

header article {
    width: 100%;
}

section article {
    display: flex;
    align-items: center;
    background-color: rgb(132, 159, 154);
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.kepsection {
    display: flex;
    flex-wrap: wrap;

}

.kepsection article {
    width: 50%;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #E5E5E5;
}

button {
    font-family: "Lexend";
    margin: .5rem;
    font-size: xx-large;
    border: 2px solid #1D919C;
    border-radius: .5rem;
}

button:hover {
    background-color: #E5E5E5;
    text-decoration: underline;
    border-radius: .75rem;
}

form {
    text-align: center;
    margin: auto;
    font-size: xx-large;
    font-family: "Lexend";
    border: 3px solid #1D919C;
    width: 40%;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 3rem;
    box-shadow: 5px 5px #105359;
}

input, select, option {
    height: 2rem;
    width: 10rem;
}

input, select {
    border-radius: .5rem;
    font-size: large;
}

form p, label {
    text-decoration: underline;
}

.nem {
    text-decoration: none;
}

a {
    text-decoration: none;
}